<h1 class="system__title system__title--whith-arrow" [ngClass]="{'system__title--whith-arrow': Mode == 'edit'}">
    Период страхования
</h1>
<form class="create-product">
    <div class="create-product__row">

        <div class="create-product__coll">
            <div class="input-groupe create-product__input-groupe">
                <label class="input-groupe__label" for="insurance_period">Период страхования:</label>
                    <!-- input-groupe__input--error класс ошибки для инпута -->
                <div class="with-value">
                    <select class="input-groupe__input input-groupe__input--value-left" 
                        name="insurance_period" [ngModel]="FormData.insurance_period" 
                        (ngModelChange)="PeriodChanges($event)">
                        <ng-container *ngFor="let item of Periods">
                            <option [value]="item.id">{{item.title}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>
        <div class="create-product__coll">
            <div class="input-groupe create-product__input-groupe">
                <label class="input-groupe__label" for="valid_from">Дата начала периода:</label>
                    <!-- input-groupe__input--error класс ошибки для инпута -->
                <div class="with-value">
                    <input type="date" class="input-groupe__input input-groupe__input--value-left" 
                        name="valid_from" [ngModel]="FormData.valid_from"
                        (ngModelChange)="FormData.valid_from = $event;UpdateFinishDate();"/>
                </div>
            </div>
        </div>
        <div class="create-product__coll">
            <div class="input-groupe create-product__input-groupe">
                <label class="input-groupe__label" for="valid_to">Дата окончания периода:</label>
                    <!-- input-groupe__input--error класс ошибки для инпута -->
                <div class="with-value">
                    <input type="date" class="input-groupe__input input-groupe__input--value-left" 
                        name="valid_to" [ngModel]="FormData.valid_to"
                        disabled/>
                </div>
            </div>
        </div>
    </div>
</form>