<div class="page__top page__top--woman">
    <p class="page__title">Это ваш автомобиль?<span class="small-margin">Проверьте корректность загруженных данных<br>и исправьте, если данные неверны</span></p>
</div>

<div class="page__block page__block--bottom_margin">
        <div class="form">
            <app-simple-car-cmp #simple [Car]="Vehicle"></app-simple-car-cmp>
        </div>
        <div class="polis__loading" [ngStyle]="{'display': IsLoading? 'flex' : 'none'}"><img style="margin: auto;" src="assets/img/loader.svg" alt=""></div>
        <button class="button" [ngClass]="{'button--disabled': IsLoading}" type="submit" (click)="SaveCar()">Да, всё верно</button>
</div>