<h1 class="system__title">
        Продли полис
    </h1>
    <br/>
    <br/>
    <h2>Водитель</h2>
    <br/><br/>
    <p>Введите информацию о водителе</p>
    <br/>
    <br/>
    <!-- <br/> -->
    <form>
        <input placeholder="ФИО" class="input-polis" name="fio" [ngModel]="FormData.fio" (ngModelChange)="FormData.fio = $event">
        <br/>
        <br/>
        <input placeholder="Дата рождения" class="input-polis" name="bday" [ngModel]="FormData.bday" (ngModelChange)="FormData.bday = $event">
        <br/>
        <br/>
        <input disabled="disabled" placeholder="А111АА777" class="input-polis" name="car_model" value="Права">
        <br>
        <br>
        <input placeholder="Серия и номер" class="input-polis" name="number" [ngModel]="FormData.number" (ngModelChange)="FormData.number = $event">
        <br>
        <br>
        <input placeholder="Дата выдачи" class="input-polis" name="date" [ngModel]="FormData.issue_date" (ngModelChange)="FormData.issue_date = $event">
        <br>
        <br>
        <input placeholder="Начало стажа" class="input-polis" name="expirience" [ngModel]="FormData.exp_started" (ngModelChange)="FormData.exp_started = $event">
        <br>
        <br>
        <br>
        <br>
        <button type="submit" (click)="Save()" class="navigate-button">
            <span class="navigate-button-text">Узнать стоимость</span>
        </button>
    </form>
    <br>
    <br>
    <p>Мы гарантируем безопасность ваших данных</p>