<div class="page__top page__top--check">
    <p class="page__title polis__title">Проверка данных<span>Данные будут переданы страховым компаниям<br>для расчёта стоимости. Винмательно проверьте<br>введённые данные</span></p>
</div>

<div class="page__block page__block--bottom_margin page__block--top_70">
    <div class="page__driver">
        <div class="page__driver-top">
            <span class="page__driver-zag">Ваш автомобиль:</span>
            <span class="page__driver-edit" (click)="ShowVehicleModal = true"></span>
        </div>

        <div class="page__driver-info">
            <p>{{Agr.vehicle.brand}} {{Agr.vehicle.model}}, {{Agr.vehicle.power}} Л.С. {{Agr.vehicle.year}} г.в.</p>
            <p><span>Гос. номер:</span> {{Agr.licensePlate.toUpperCase()}}</p>
            <p *ngIf="Agr.vehicle.vin"><span>VIN:</span> {{Agr.vehicle.vin}}</p>
            <p *ngIf="Agr.vehicle.chassisNum"><span>№ ШАССИ:</span> {{Agr.vehicle.chassisNum}}</p>
            <p *ngIf="Agr.vehicle.bodyNum"><span>№ КУЗОВА:</span> {{Agr.vehicle.bodyNum}}</p>
            <p><span>{{Agr.vehicle.docType == 1 ? 'СТС' : (Agr.vehicle.docType == 2 ? 'ЭПТС' : 'ПТС')}}:</span> {{Agr.vehicle.docSerial}}{{Agr.vehicle.docNumber}} от {{Agr.vehicle.docDate | date: 'dd.MM.yyyy' }}</p>
        </div>

    </div>
    <div class="page__driver">
        <div class="page__driver-top">
            <span class="page__driver-zag">Водители:</span>
            <span class="page__driver-edit" (click)="ShowDriversModal = true"></span>
        </div>

        <div class="page__driver-info">
            <ng-container *ngFor="let driver of Agr.drivers; let i=index">
                <p><span>Водитель {{i+1}}:</span></p>
                <p><span>ФИО:</span> {{driver.lastname}} {{driver.firstname}} {{driver.middlename}}</p>
                <p><span>Дата рождения:</span> {{driver.birthdate | date: 'dd.MM.yyyy' }}</p>
                <p><span>ВУ:</span> {{driver.licenseSerial}} {{driver.licenseNumber}}</p>
                <p><span>Дата начала стажа:</span> {{driver.expdate | date: 'dd.MM.yyyy' }}</p>
            </ng-container>
            
            <!-- <p><span>Водитель 1:</span></p>
            <p><span>ФИО:</span> Иван Иванович Иванов</p>
            <p><span>Дата рождения:</span> 31.12.1994</p>
            <p><span>ВУ:</span> 123 456</p>
            <p><span>Дата начала стажа:</span> 12.12.2012</p>
            <p><span>Водитель 2:</span></p>
            <p><span>ФИО:</span> Иванова Анна</p>
            <p><span>Дата рождения:</span> 31.12.1994</p>
            <p><span>ВУ:</span> 123 456</p>
            <p><span>Дата начала стажа:</span> 12.12.2012</p> -->
        </div>

    </div>
    <div class="page__driver">
        <div class="page__driver-top">
            <span class="page__driver-zag">Собственник:</span>
            <span class="page__driver-edit" (click)="ShowOwnerModal = true"></span>
        </div>

        <div class="page__driver-info">
            <p><span>ФИО:</span> {{Agr.owner.lastname}} {{Agr.owner.firstname}} {{Agr.owner.middlename}}</p>
            <p><span>Дата рождения:</span> {{Agr.owner.birthdate | date: 'dd.MM.yyyy' }}</p>
            <p><span>Паспорт:</span> {{Agr.owner.passportSerial}} {{Agr.owner.passportNumber}}</p>
            <p><span>Выдан:</span> {{Agr.owner.passportDate | date: 'dd.MM.yyyy' }}</p>
            <p><span>Адрес регистрации:</span> {{Agr.owner.fullAddress}}</p>
        </div>

    </div>
    <div class="page__driver" *ngIf="Agr.insurer && !Agr.insurerIsOwner">
        <div class="page__driver-top">
            <span class="page__driver-zag">Страхователь:</span>
            <span class="page__driver-edit" (click)="ShowInsurerModal = true"></span>
        </div>

        <div class="page__driver-info">
            <p><span>ФИО:</span> {{Agr.insurer.lastname}} {{Agr.insurer.firstname}} {{Agr.insurer.middlename}}</p>
            <p><span>Дата рождения:</span> {{Agr.insurer.birthdate | date: 'dd.MM.yyyy' }}</p>
            <p><span>Паспорт:</span> {{Agr.insurer.passportSerial}} {{Agr.insurer.passportNumber}}</p>
            <p><span>Выдан:</span> {{Agr.insurer.passportDate | date: 'dd.MM.yyyy' }}</p>
            <p><span>Адрес регистрации:</span> {{Agr.insurer.fullAddress}}</p>
        </div>

    </div>
    <div class="page__driver page__driver--no_border page__driver--no_bottom">
        <div class="page__driver-top">
            <span class="page__driver-zag">Контактные данные:</span>
            <span class="page__driver-edit" (click)="ShowPhoneModal = true"></span>
        </div>

        <div class="page__driver-info">
            <p><span>Телефон:</span> {{Agr.phone}}</p>
        </div>

    </div>
</div>

<div class="page__block page__block--second">
    <p class="page__email-text">Не забудьте указать E-mail, на который хотите получить полис:</p>
    <div class="form">
        <app-email-form-cmp #email></app-email-form-cmp>
    </div>
    <!-- Add class "button--disabled" to disable the button -->
    <button class="button" [ngClass]="{'button--disabled': email.Form.invalid}" (click)="Navigate()">Все верно!</button>
</div>

<div class="modal" [ngClass]="{'modal--opened': ShowVehicleModal}">
    <div class="modal__content modal__content--edit">
        <div class="page__driver page__driver--bordered">
            <div class="page__driver" [ngClass]="{'page__driver--opened': TopOpened}">
                <div class="page__driver-top" (click)="TopOpened = !TopOpened">
                    <span class="page__driver-name">Ваш автомобиль</span>
                </div>
        
                <div class="form form--small">
                    <app-simple-car-cmp #simple [Car]="Agr.vehicle"></app-simple-car-cmp>
                </div>
            </div>
        
            <div class="page__driver page__driver--no_border" [ngClass]="{'page__driver--opened': BottomOpened}">
                <div class="page__driver-top" (click)="BottomOpened = !BottomOpened">
                    <span class="page__driver-name">Данные автомобиля</span>
                </div>
        
                <div class="form">
                    <app-full-car-cmp #full [Car]="Agr.vehicle"></app-full-car-cmp>
                </div>
            </div>
            
        </div>
        <button class="button"
            (click)="ConfirmVehicleData()"
        >Сохранить</button>
        <button class="button button--white" (click)="ShowVehicleModal = false">Закрыть</button>
    </div>
</div>

<div class="modal" [ngClass]="{'modal--opened': ShowDriversModal}">
    <div class="modal__content modal__content--edit">
        <div class="page__driver page__driver--bordered">
            <div class="page__driver-top">
                <!-- <span class="page__driver-name">Водители</span> -->
            </div>
            <ng-container *ngFor="let item of Agr.drivers; let i = index">
                <app-driver-form-cmp [driver]="item" [index]="i" (onDelete)="DeleteDriver($event)" #drivers></app-driver-form-cmp>
            </ng-container>
            <div *ngIf="Agr.drivers.length < 4" class="page__driver-add" (click)="AddDriver()">Добавить водителя</div>
        </div>
        <button class="button"
            (click)="ConfirmDriversData()"
        >Сохранить</button>
        <button class="button button--white" (click)="ShowDriversModal = false">Закрыть</button>
    </div>
</div>

<div class="modal" [ngClass]="{'modal--opened': ShowOwnerModal}">
    <div class="modal__content modal__content--edit">
        <div class="page__driver page__driver--owner page__driver--bordered">
            <div class="page__driver-top">
                <span class="page__driver-name">Собственник</span>
            </div>
            <app-owner-form-cmp #owner [Data]="Agr.owner"></app-owner-form-cmp>
        </div>
        <button class="button"
            (click)="ConfirmOwnerData()"
        >Сохранить</button>
        <button class="button button--white" (click)="ShowOwnerModal = false">Закрыть</button>
    </div>
</div>

<div *ngIf="Agr.insurer && !Agr.insurerIsOwner" class="modal" [ngClass]="{'modal--opened': ShowInsurerModal}">
    <div class="modal__content modal__content--edit">
        <div class="page__driver page__driver--owner page__driver--bordered">
            <div class="page__driver-top">
                <span class="page__driver-name">Страхователь</span>
            </div>
            <app-owner-form-cmp #owner [Data]="Agr.insurer"></app-owner-form-cmp>
        </div>
        <button class="button"
            (click)="ConfirmInsurerData()"
        >Сохранить</button>
        <button class="button button--white" (click)="ShowInsurerModal = false">Закрыть</button>
    </div>
</div>

<div class="modal" [ngClass]="{'modal--opened': ShowPhoneModal}">
    <div class="modal__content modal__content--edit">
        <div class="page__driver page__driver--owner page__driver--bordered">
            <div class="page__driver-top">
                <span class="page__driver-name">Номер телефона</span>
            </div>
            <form [formGroup]="Form" (ngSubmit)="ConfirmPhoneData()">
                <div class="form form--bottom_40">
                    <div class="form__item">
                        <label class="form__label">Телефон</label>
                        <div class="form__phone-block">
                            <div class="form__phone-code">
                                <span class="form__phone-code-flag" style="background-image: url('assets/img/avto-country.svg')"></span>
                                <span class="form__phone-code-text">+7</span>
                            </div>
                            <input
                                [textMask]="{mask: phoneMask}" 
                                formControlName="phone" 
                                class="form__input form__input--phone" 
                                name="phone"
                                [ngClass]="{'form__input--error': Form.controls.phone.invalid && (Form.controls.phone.dirty || Form.controls.phone.touched)}"
                            >
                            <!-- <input type="text" class="form__input form__input--phone" placeholder="(999) 789 00 00"> -->
                        </div>
                    </div>
                </div>
        
                <button class="button" [disabled]="Form.invalid" type="submit">Сохранить</button>
                <button class="button button--white" (click)="ShowPhoneModal = false">Закрыть</button>
            </form>
        </div>
    </div>
</div>