.calendar
{
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 3.64342px 7.28684px rgba(0, 0, 0, 0.06);
    background: #E9F4FF;
}

.calendar--inline
{
    position: relative;
}

.calendar--white{
    background: #FFFFFF;
}

.calendar__day{
    color: inherit!important;
    cursor: pointer;
}

.calendar__day--next--month
{
    color:#a7a7a7!important
}

.calendar__day--inactive
{
    color: #a9a9a9!important;
    cursor: not-allowed;
}

.calendar__day--strike
{
    cursor: not-allowed;
}

.calendar__back, .calendar__next
{
    cursor: pointer;
}

.delimeter
{
    width: 10px;
}

.calendar__header
{
    padding: 2px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__month--split{
    width: 130px;
    padding: 2px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__year
{
    width: 60px;
    padding: 2px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__header--month
{
    width: 60%;
}

.calendar__header--year
{
    width: 35%;
}
    