<h1 class="system__title">
    Укажите количество<br>водителей
</h1>
<br/>
<br/>
<form class="create-product">
    <div class="select-drivers">
        <button (click)="SelectDriversNumber(1)">1</button>
    </div>
    
    <div class="select-drivers">
        <button (click)="SelectDriversNumber(2)">2</button>
    </div>
    <div class="select-drivers">
        <button (click)="SelectDriversNumber(3)">3</button>
    </div>
    <div class="select-drivers">
        <button (click)="SelectDriversNumber(4)">4</button>
    </div>
    <div class="select-drivers">
        <button (click)="SelectDriversNumber(0)">Без ограничений</button>
    </div>
</form>