<h1 class="system__title" [ngClass]="{'system__title--whith-arrow': Mode == 'edit'}">
    Продли полис
</h1>
<br/>
<br/>
<p>Заполни ОДНУ анкету и <br/>узнай стоимость в 5 крупных страховых компаниях</p>
<br/><br/>

<div class="ol-list">
    <p class="ol-list-item">Заполни анкету</p>
    <p class="ol-list-item">Выберите лучшее предложение</p>
    <p class="ol-list-item">Оплатите выбранный полис</p>
    <p class="ol-list-item">Получите полис на e-mail</p>
</div>
<br/>

<!-- <br/> -->
<form >
    <p>Введите номер автомобиля</p>
    <input placeholder="А111АА777" class="input-polis" name="car_number" [ngModel]="CarNumber" (ngModelChange)="CarNumber = $event">
    <br/>
    <a routerLink="../car">Нет номера?</a>
    <br/>
    <br/>
    <button type="submit" (click)="CheckCarNumber()" class="navigate-button" [disabled]="RequestProcessing">
        <span class="navigate-button-text">Расчитать</span>
        <div *ngIf="RequestProcessing" class="ld ld-ball ld-flip"></div>
    </button>
</form>

<br/>
<br/>
<p>Введите характеристики сами, если номер отсутствует</p>