<h1 class="system__title" [ngClass]="{'system__title--whith-arrow': Mode == 'edit'}">
    Продли полис
</h1>
<br/>
<br/>
<p>Немного об автомобиле</p>
<br/><br/>
<p>
    <u>{{Car.car_mark}} {{Car.car_model}} {{Car.manufacturing_year}} {{Car.engine_power}} Л.С. гос. номер. {{Car.number_plate}}</u>
</p>
<br/>
<br/>
<!-- <br/> -->
<form>
    <input disabled="disabled" placeholder="А111АА777" class="input-polis" name="car_model" value="VIN">
    <br/>
    <br/>
    <input disabled="disabled" placeholder="А111АА777" class="input-polis" name="car_power" [value]="Car.vin_number">
    <br/>
    <br/>
    <input disabled="disabled" placeholder="А111АА777" class="input-polis" name="car_model" value="CTC">
    <br/>
    <br/>
    <input disabled="disabled" placeholder="А111АА777" class="input-polis" name="car_power" [value]="Car.sts">
    <br/>
    <br/>
    <input disabled="disabled" placeholder="А111АА777" class="input-polis" name="car_power" [value]="Car.sts">
    <br/>
    <br/>
    <input disabled="disabled" placeholder="А111АА777" class="input-polis" name="car_model" value="Диагностическая карта">
    <br/>
    <br/>
    <input disabled="disabled" placeholder="А111АА777" class="input-polis" name="car_power" [value]="Car.credential[1].number">
    <p>Если данные не верны,</p>
    <p>то можете их исправить</p>
    <br>
    <br>
    <a (click)="Disabled = !Disabled">Исправить</a>
    <br>
    <br>
    <button type="submit" routerLink="../driver" class="navigate-button">
        <span class="navigate-button-text">Да, все верно</span>
    </button>
</form>
<br>
<br>
<p>Мы гарантируем безопасность ваших данных</p>