<div class="content content--blue">
    <div class="index index--with_footer">
        <p class="index__title">Ваш предварительный расчёт полиса ОСАГО</p>

        <div class="index__block">
            <span class="index__hint" (click)="ShowModal=true"></span>

            <div class="polis polis--no_answer polis--loading">

                <!-- <div class="create-product__row" *ngFor="let sk of SkData | keyvalue">
                    <div class="create-product__coll">
                        <img width="120px" [src]="sk.value.img"/>
                    </div>
                    <div class="create-product__coll">{{sk.value.name}}</div>
                    <div class="create-product__coll">{{sk.value.total}} {{sk.value.currency}}</div>
                </div> -->
                    <div [ngClass]="{'polis__flex--load': IsLoading}" *ngFor="let sk of SkData | keyvalue" class="polis__flex polis__flex--offer">
                        <div class="polis__image" [ngStyle]="{'background-image': 'url(' + sk.value.img + ')'}"></div>
                        <div class="polis__loading"><img src="assets/img/loader.svg" alt=""></div>
                        <div class="polis__before">
                            <ng-container *ngIf="!IsLoading">
                                <span class="polis__before-price"> от {{sk.value.total}} {{sk.value.currency}}</span>
                                <span class="polis__middle-price">Средняя {{sk.value.base_rate}} {{sk.value.currency}}</span>
                            </ng-container>
                        </div>
                    </div>
                
            </div>

            <p class="page__card-text page__card-text--grey">Продолжите заполненение анкеты,<br>это займет 5 минут :)</p>

            <button [disabled]="IsLoading" class="button" type="submit" (click)="Navigate()">Сделать точный расчет</button>
        </div>
    </div>
</div>
<div class="modal" [ngClass]="{'modal--opened': ShowModal}">
    <div class="modal__content">
        <div class="modal__head">Данные, влияющие на стоимость ОСАГО</div>
        <div class="modal__data">
            <div [innerHTML]="ModalText"></div>
            
            <button class="button"  (click)="Navigate()">Сделать точный расчет</button>
            <button class="button button--white" (click)="ShowModal=false">Закрыть</button>
        </div>
    </div>
</div>
