@media screen and (max-width: 600px) {
    .simple-component {
      visibility: visible;
      clear: both;
      /* float: left; */
      margin: 10px auto 5px 20px;
      width: 98%;
      display: block;
    }
}


