@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.cdk-overlay-container{position:fixed;z-index:1000}
.cdk-global-overlay-wrapper{display:flex;position:absolute;z-index:1000}
.cdk-overlay-pane{position:absolute;pointer-events:auto;box-sizing:border-box;z-index:1000}
.form__input--error{
  border: 1px solid red;
}

.autocomplete-container
{
  width: 100%;
    background: #FCFCFC;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    height: 40px;
    font-size: 14px;
    font-family: "Helvetica Neue Cyr Roman", sans-serif;
    padding: 3px 13px 0;
    outline: none;
    box-sizing: border-box;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.polis__image {
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.autocomplete-container .input-container .x {
  right: 24px;
}



