<div class="content content--blue">
    <div class="index index--with_footer">
        <p class="index__title polis__title">Стоимость полиса 
            <ng-container *ngIf="Drivers.length > 0">с учетом<br>{{Drivers.length == 1 ? 'водителя' : 'водителей'}}</ng-container>
            <span>Готово! Мы сделали расчет 
                <ng-container *ngIf="Drivers.length == 0">
                    без ограничений по количеству водителей
                </ng-container>
                <ng-container *ngIf="Drivers.length > 0">
                    для {{Drivers.length}}-{{Drivers.length == 1 ? 'го водителя' : 'х водителей'}}
                </ng-container>
            </span></p>

        <div class="index__block">

            <div class="polis__warning">
                <div class="polis__warning-block">

                    <div class="polis__sum-block" *ngFor="let driver of Drivers; let i=index">
                        <label class="checkbox checkbox--big">
                            <input type="checkbox" class="checkbox__input" name="driver-checkbox-{{i}}" [ngModel]="driver.selected" (ngModelChange)="ChangeCheck(i,$event)">
                            <div class="checkbox__text">Водитель {{i+1}}</div>
                        </label>

                        <div class="polis__sum-text">
                            {{driver.lastname}} {{driver.firstname}} {{driver.middlename}}, {{driver.birthdate | date: 'dd.MM.yyyy' }}<br>
                            <ng-container *ngIf="Kbms[i]">
                                <strong>Персональный КБМ {{Kbms[i].factor}}</strong>
                                <ng-container *ngIf="Kbms[i].factor <= 0.8">- Отличный пилот, так держать!</ng-container>
                                <br>
                                Стоимость полиса со скидкой: <strong>{{Round(AvgPrice * Kbms[i].factor)}} ₽/год</strong>
                            </ng-container>
                            
                        </div>
                    </div>
                    <!-- <div class="polis__sum-block">
                        <label class="checkbox checkbox--big">
                            <input type="checkbox" class="checkbox__input">
                            <div class="checkbox__text">Водитель 2</div>
                        </label>

                        <div class="polis__sum-text">
                            Андрей Иванович Иванов, 12.12.1993 г.<br>
                            <strong>Персональный КБМ 0.8</strong> - Отличный пилот, так держать!<br>
                            Стоимость полиса со скидкой: <strong>3700 ₽/год</strong>
                        </div>
                    </div> -->
                    <div class="polis__sum-block">
                        <label class="checkbox checkbox--big">
                            <input type="checkbox" class="checkbox__input" name="driver-checkbox-multi" [ngModel]="Multi" (ngModelChange)="ChangeCheck(null,$event)">
                            <div class="checkbox__text">Без ограничений</div>
                        </label>

                        <div class="polis__sum-text">
                            Стоимость полиса со скидкой: <strong>{{Round(AvgPrice * 1.8)}} ₽/год</strong><br><br>
                        </div>
                    </div>
                </div>

                <p class="polis__sum">ИТОГО: <span>{{TotalPrice}} ₽/год</span></p>

                <button class="button" type="submit" (click)="Save()">Далее</button>
            </div>

        </div>
    </div>
</div>