<h1 class="system__title" [ngClass]="{'system__title--whith-arrow': Mode == 'edit'}">
    Продли полис
</h1>
<br/>
<br/>
<h2>Количество водителей</h2>
<br><br><br>
<p> Сколько человек Вы запишете в полис?</p>
<br><br>
<form class="create-product">
    <div class="create-product__row">
            <div class="create-product__coll"></div>
        <div class="create-product__coll" (click)="Selected = 1">
            <div class="select_drivers" [ngClass]="{'select_drivers--selected': Selected == 1}">1</div>
        </div>
        <div class="create-product__coll"></div>
        <div class="create-product__coll" (click)="Selected = 2">
            <div class="select_drivers" [ngClass]="{'select_drivers--selected': Selected == 2}">2</div>
        </div>
        <div class="create-product__coll"></div>
    </div>
    <br>
    <div class="create-product__row">
            <div class="create-product__coll"></div>
        <div class="create-product__coll" (click)="Selected = 3">
            <div class="select_drivers" [ngClass]="{'select_drivers--selected': Selected == 3}">3</div>
        </div>
        <div class="create-product__coll"></div>
        <div class="create-product__coll" (click)="Selected = 4">
            <div class="select_drivers" [ngClass]="{'select_drivers--selected': Selected == 4}">4</div>
        </div>
        <div class="create-product__coll"></div>
    </div>
    <br>
    <div class="create-product__row">
        <div class="create-product__coll"></div>
        <div class="create-product__coll" (click)="Selected = 0">
            <div class="select_drivers" [ngClass]="{'select_drivers--selected': Selected == 0}">Без ограничений</div>
        </div>
        <div class="create-product__coll"></div>
    </div>
    <br>
    <div class="create-product__row">
        <div class="create-product__coll"></div>
        <div class="create-product__coll">
            <button type="submit" (click)="Next()" class="navigate-button">
                <span class="navigate-button-text">Далее</span>
            </button>
        </div>
        <div class="create-product__coll"></div>
    </div> 
    <br><br>
    <p>Мы гарантируем безопасность ваших данных</p> 
</form>