<div class="page__top page__top--man_check">
    <p class="page__title">Вы выбрали: {{Offer.name}}</p>
</div>

<div class="page__block page__block--bottom_margin">
    <div class="page__company">
        <div class="polis__image" [ngStyle]="{'background-image': 'url(' + Offer.img + ')'}"></div>
        <!-- <img src="assets/img/tinkoff.svg" alt=""> -->
        <span class="page__company-price">{{Offer.total | moneypipe}}</span>
    </div>
    <p class="page__card-text">Для оплаты вы будете перенаправлены на сайт страховой компании</p>
    <div class="page__card-image">
        <img src="assets/img/chosen-company.jpg" alt="">
    </div>
    <p class="page__card-text">Вы получите полис после оплаты на сайте страхователя и сможете проверить его по базе <a href="https://dkbm-web.autoins.ru/dkbm-web-1.0/bsostate.htm">Российского Союза Автостраховщиков</a></p>
    <div class="polis__loading custom--loading" style="display: flex;"><img class="loading--image" *ngIf="IsLoading" style="margin: auto;" src="assets/img/loading1.svg" alt=""></div>
    <button class="button" [ngClass]="{'button--disabled': IsLoading}" (click)="GetUrl()">Оплатить</button>
</div>
<div class="modal" [ngClass]="{'modal--opened': ShowModal}">
    <div class="modal__content">
        <div class="modal__head">Перед оплатой полиса в {{Offer.name}} необходимо ввести код из смс</div>
        <div class="modal__data">
            <form [formGroup]="Form" (ngSubmit)="ConfirmPhone()">
                <div class="form form--bottom_40">
                    <div class="form__item">
                        <label class="form__label">Телефон</label>
                        <div class="form__phone-block">
                            <div class="form__phone-code">
                                <span class="form__phone-code-flag" style="background-image: url('assets/img/avto-country.svg')"></span>
                                <span class="form__phone-code-text">+7</span>
                            </div>
                            <input
                                disabled
                                formControlName="phone"
                                class="form__input form__input--phone" 
                                name="phone">
                            <!-- <input type="text" class="form__input form__input--phone" placeholder="(999) 789 00 00"> -->
                        </div>
                    </div>
                    <div class="form__item">
                        <label class="form__label">Код подтверждения</label>
                        <!-- <input type="text" class="form__input"> -->
                        <input class="form__input" formControlName="code" name="code"
                            [ngClass]="{'form__input--error': code.invalid && (code.dirty || code.touched)}"
                        >
                    </div>
                </div>
                <div class="polis__loading custom--loading" style="display: flex;"><img *ngIf="IsLoading" class="loading--image" style="margin: auto;" src="assets/img/loading1.svg" alt=""></div>
                <button class="button" [ngClass]="{'button--disabled': IsLoading}" type="submit">Подтвердить</button>
                <button class="button button--white" (click)="Navigate()">Отменить</button>
            </form>
        </div>
    </div>
</div>