<h1 class="system__title" [ngClass]="{'system__title--whith-arrow': Mode == 'edit'}">
        Продли полис
    </h1>
    <br/>
    <br/>
    <h2>Вы являетесь собственником автомобиля?</h2>
    <br><br>
    <form class="create-product">
        <div class="create-product__row">
            <div class="create-product__coll"></div>
        <div class="create-product__coll" (click)="Next(true)">
            <div class="select_drivers">Да</div>
        </div>
        <div class="create-product__coll"></div>
        <div class="create-product__coll" (click)="Next(false)">
            <div class="select_drivers">Нет</div>
        </div>
        <div class="create-product__coll"></div>
    </div>
    <br>
</form>