@import "layout/var";

.edit-button {
    display: flex;
    
    &__edit {
        display: flex;
        align-items: center;
        color: #000;
        font-size: 14px;
        line-height: 19px;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: $blue;

            svg{
                path{
                    fill: $blue;
                }
            }
        }
        
        svg{
            flex-shrink: 0;
            display: block;
            margin-right: 10px;
            path{
                transition: fill 0.3s;
            }
        }
    }
}