<period-cmp #period></period-cmp>
      <transport-cmp #transport></transport-cmp>
      <policyholder-cmp #policyholder></policyholder-cmp>
      <owner-cmp #owner></owner-cmp>
      <drivers-cmp #drivers></drivers-cmp>

      <form class="create-product">
          <div class="create-product__row">
              <div class="create-product__coll">
                  <div class="one-col-buttons">
                      <div class="button-wrapper one-col-buttons__item">
                        <button type="button" (click)="Calculate()" class="button-wrapper__button">Посчитать</button>
                      </div>
                  </div>
              </div>
              <div class="create-product__coll">
                <p>Предварительный расчет: 
                  {{FinalCalculation && FinalCalculation.calculation && FinalCalculation.calculation.premium ? 
                    FinalCalculation.calculation.premium : '0'}}</p>
                  <p>
                      {{CombineDataString}}
                  </p>
              </div>
              <div class="create-product__coll">
                  <div class="input-groupe create-product__input-groupe">
                      <label class="input-groupe__label" for="combine_id">Insured Id:</label>
                          <!-- input-groupe__input--error класс ошибки для инпута -->
                      <div class="with-value">
                          <input class="input-groupe__input input-groupe__input--value-left" 
                          name="combine_id" [ngModel]="CombineId" (ngModelChange)="CombineId = $event"/>
                      </div>
                  </div>
              </div>
              <div class="create-product__coll">
                  <div class="one-col-buttons">
                      <div class="button-wrapper one-col-buttons__item">
                          <button type="button" [disabled]="!CanCombine" (click)="Continue()" class="button-wrapper__button">Связать данные</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="create-product__row" *ngFor="let company of SCompanies">
              <div class="create-product__coll">
                  <img [src]="company.logo"/>
              </div>
              <div class="create-product__coll">{{company.title}}</div>
              <div class="create-product__coll">{{company.data}}</div>
          </div>
      </form>