<div class="content content--blue">
    <div class="index">
        <p class="index__title">4 простых шага для расчета и оформления полиса ОСАГО</p>

        <div class="index__block">
            <span class="index__close"></span>

            <swiper [(index)]="Index">
                <div>
                    <div class="index__image"><img src="assets/img/step1.png" alt=""></div>

                    <p class="index__name">Шаг 1</p>
                    <p class="index__text">Заполните данные об автомобиле и водителях</p>
                </div>
                <div>
                    <div class="index__image"><img src="assets/img/step2.png" alt=""></div>

                    <p class="index__name">Шаг 2</p>
                    <p class="index__text">Получите расчет от 8-ми страховых компаний</p>
                </div>
                <div>
                    <div class="index__image"><img src="assets/img/step3.png" alt=""></div>

                    <p class="index__name">Шаг 3</p>
                    <p class="index__text">Выберите выгодное для вас предложение</p>
                </div>
                <div>
                    <div class="index__image"><img src="assets/img/step4.png" alt=""></div>

                    <p class="index__name">Шаг 4</p>
                    <p class="index__text">Оформите онлайн и получите полис на E-mail</p>
                </div>
            </swiper>

            <ul class="index__dots">
                <li (click)="Index=0" class="index__dot" [ngClass]="{'index__dot--active': Index == 0}"></li>
                <li (click)="Index=1" class="index__dot" [ngClass]="{'index__dot--active': Index == 1}"></li>
                <li (click)="Index=2" class="index__dot" [ngClass]="{'index__dot--active': Index == 2}"></li>
                <li (click)="Index=3" class="index__dot" [ngClass]="{'index__dot--active': Index == 3}"></li>
            </ul>
            

            
            <button class="button" [routerLink]="['/prev']">Далее</button>
        </div>
    </div>
</div>
<!-- TODO: ADD MODAL WINDOW -->
<!-- <div class="modal modal--opened">
    <div class="modal__content">
        <div class="modal__head">Данные, влияющие на стоимость ОСАГО</div>
        <div class="modal__data">
            <p class="modal__text">Автомобиль: <strong>Audi RS 6, 300 Л.С.</strong></p>
            <p class="modal__text">Водитель: <strong>Иванов Иван 31 год, 5 лет стажа</strong></p>
            <p class="modal__text">Город регистрации собственника: <strong>Казань, Татарстан</strong></p>
            <p class="modal__text">Персональный коэф. безаварийности (КБМ): <span>Неизвестно (необходим точный расчет)</span></p>
            <button class="button">Сделать точный расчет</button>
            <button class="button button--white">Закрыть</button>
        </div>
    </div>
</div> -->