//font-family
$mainFont: 'Open Sans', sans-serif;;
//font-weight
$regular: 400;
$semiBold: 600;
$bold: 700;
//colors
$grey300: #EEEEEE;
$grey400: #C4C4C4;
$grey800: #9A9A9A;
$red: #CE4E4E;
$blue: #659AFF;
$black: #303030;

