<h1 class="system__title" [ngClass]="{'system__title--whith-arrow': Mode == 'edit'}">
    Продли полис
</h1>
<br/>
<br/>
<p>Немного об автомобиле</p>
<br/><br/>
<p>Это ваш автомобиль?</p>
<br/>
<p>Проверьте корректность характеристик</p>
<br/>
<br/>
<!-- <br/> -->
<form>
    <input disabled="disabled" placeholder="А111АА777" class="input-polis" name="car_model" [ngModel]="FormData.model" (ngModelChange)="FormData.model = $event">
    <br/>
    <br/>
    <input disabled="disabled" placeholder="А111АА777" class="input-polis" name="car_power" [ngModel]="FormData.engine_power" (ngModelChange)="FormData.engine_power = $event">
    <br/>
    <br/>
    <p>Если данные не верны,</p>
    <p>то можете их исправить</p>
    <br>
    <br>
    <a (click)="Disabled = !Disabled">Исправить</a>
    <br>
    <br>
    <button type="submit" (click)="CreateCar()" class="navigate-button">
        <span class="navigate-button-text">Да, все верно</span>
    </button>
</form>
<br>
<br>
<p>Мы гарантируем безопасность ваших данных</p>