<div class="content content--blue">
    <div class="index index--with_footer">
        <p class="index__title polis__title polis__title--sparkles">Последний этап<span>Отличная работа! Вы почти у цели!</span></p>

        <div class="index__block">

            <div class="polis__warning">
                <div class="polis__warning-block polis__warning-block--bottom">
                    <p class="page__card-text page__card-text--no_top">Укажите паспортные данные и приступите к выбору лучшего предложения. <br>Вам понадобится:</p>
                    <div class="page__card-image page__card-image--grow">
                        <img src="assets/img/passport.png" alt="">
                    </div>
                    <p class="page__card-text">Паспорт собственника авто</p>
                </div>

                <button class="button" type="submit" (click)="Navigate()">Далее</button>
            </div>
        </div>
    </div>
</div>